@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300&family=Barlow:wght@100;200;300&family=Bellefair&display=swap');

:root{

    /*Design system for typography*/

    --font-family1: 'Barlow', sans-serif;
    --font-family2: 'Barlow Condensed', sans-serif;
    --font-family3: 'Bellefair', serif;
    --sub-heading1: 28px;
    --sub-heading2: 14px;
    --nav-text: 16px;
    --heading1: 150px;
    --heading2: 100px;
    --heading3: 56px;
    --heading4: 32px;
    --heading5: 28px;
    --heading6: 80px;
    --heading7: 15px;
    --heading8: 20px;

    /* Design system for typography spacing */
    --font-spacing: 1.5px;

    /*Design system for colors*/

    --color-one: #0B0D17;
    --color-two: #D0D6F9;
    --color-three: #FFFFFF;
}   

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../assets/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.main-wrapper{
    margin: 20px auto 0;
    width: 85%;
}

.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

/* navlinks dropdown-menu*/
.nav-links{
    display: none;
}

/* navbar logo-icon*/
.navbar-wrapper #logo-icon{
    width: 40px;
    height: 40px;
}

.explore-wrapper{
    color: var(--color-three);
    margin: 48px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
}

.explore-group1{
    text-align: center;
}

.explore-group1 h3{
    font-size: var(--nav-text);
    font-family: var(--font-family2);
    text-transform: uppercase;
    font-weight: 200;
}

.explore-group1 h1{
    font-size: var(--heading6);
    font-family: var(--font-family3);
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 100;
}

.explore-paragraph{
    font-family: var(--font-family1);
    color: var(--color-two);
    font-size: var(--heading7);
    line-height: 1.5rem;
    font-weight: 200;
}

.explore-group2{
    margin-top: 81px;
    width: 150px;
    height: 150px;
    background-color: var(--color-three);
    padding: 28px;
    border-radius: 100%;
    text-align: center;
}

.explore-oval{
    color: var(--color-one);
    text-transform: uppercase;
    font-family: var(--font-family3);
    font-weight: 100;
    letter-spacing: var(--font-spacing);
    font-size: var(--heading8);
    margin: 40px 0;
}


@media screen and (min-width: 768px){

    .main-wrapper{
        width: 93%;
    }

    body{
        background-image: url(../assets/home/background-home-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #hamburger{
        display: none;
    }

    .nav-links{
        display: flex;
        justify-content: space-between;
        font-family: var(--font-family2);
        text-transform: uppercase;
        background-color: rgba(255, 255, 255, 0.06);
        padding: 20px;
        
    }

    .nav-links li{
        list-style-type: none;
        margin: 0 20px;
    }

    .nav-links li a{
        text-decoration: none;
        color: #D0D6F9;
        letter-spacing: 2.3px;
    }

}


